/* HEADER */
.header__nav {
    background: var(--background);
}

.header__content {
    margin: 1rem auto;
    justify-content: space-between;
}

.header__logo {
    padding: 0;
    margin-right: 3rem;
}

.header__logo img {
    width: auto;
    height: 4.8rem;
}

.header__menu {
    display: flex;
    flex: 1;
    border-left: 1px solid var(--gray-2);
    position: relative;
}

.header__menu input+label {
    display: none;
}

.header__menu input~nav {
    display: block;
    position: initial;
    width: auto;
    height: auto;
    background: none;
    overflow: initial;
}

.header__menu nav#menu ul>li>a {
    width: auto;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1.2rem 2rem;
    border-radius: .5rem;
    transition: 0.5s;
    color: var(--dark);
    border: 2px solid var(--gray-1);
}

.header__menu nav#menu ul>li>a:hover {
    color: var(--dark);
    /* background: var(--yellow); */
    border: 2px solid var(--yellow);
}

.header__menu nav#menu ul {
    flex-direction: initial;
    justify-content: flex-end;
    padding: 0;
    position: relative;
    z-index: 5;
}

.header__menu nav#menu ul>li {
    opacity: inherit;
    list-style: none;
    margin-left: .5em;
    position: relative;
}

.header__widgets {
    text-align: right;
}

.header__widgets p {
    display: inline-block;
    margin: 0 !important;
    vertical-align: middle;
    font-weight: 500;
}

.header__widgets .widget_polylang {
    display: inline-block;
    vertical-align: middle;
}

.header__widgets .widget_polylang li {
    list-style: none;
    display: inline-block;
    font-size: inherit;
    line-height: inherit;
}

.header__widgets .widget_text a {
    text-decoration: none;
    font-weight: 700;
    color: var(--green);
}

.header__innerpages .header__content {
    margin: 1rem auto;
}


.header__innerpages .header__menu nav#menu ul>li>a {
    color: var(--dark);
    font-weight: 500;
}

.header__innerpages .header__menu nav#menu ul>li ul li>a {
    color: var(--dark);
}

.header__innerpages .header__menu nav#menu ul>li>a:hover {
    background: var(--gray-8);
    color: var(--yellow);
    border-color: var(--gray-8);
}


.header__menu nav#menu ul ul {
    display: none;
    position: absolute;
    height: fit-content;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 999;
    min-width: 200px;
    background: none;
}


.header__menu nav#menu ul ul li {
    width: 100%;
    margin: 0;
}

.header__menu nav#menu ul li:hover>ul {
    display: block;
    background: var(--gray-2);
    border-radius: .5rem;
}

.header__menu nav#menu ul ul li a {
    width: 100%;
    padding: 1rem 1.2rem;
    /* border-radius: 0.5rem; */
    border: 2px solid transparent;
    /* background: rgba(28, 32, 52, 0.7); */
    color: var(--whit);
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: capitalize;
    transition: 0.5s;
}

.header__menu nav#menu ul ul li a:hover {
    background: var(--yellow);
    color: var(--white);
    border-color: var(--yellow);
}

/* FIN-HEADER */
/* FRONTAPGE */
.frontpage__welcome {
    margin-top: 10rem;
}

.frontpage__travelUs {
    width: 70%;
    margin: 0 auto 4rem;
}

section.frontpage__welcome p {
    width: 80%;
    margin: 0 auto;
}

.frontpage__packages .packages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2%;
}

.packages .packages__card {
    flex: 0 1 23.5%;
}

.packages__card .card-content {
    padding-top: 2rem;
}

.packages .packages__card p {
    font-size: 1.5rem;
}

.personalized__box {
    width: 70%;
    flex-direction: row;
    padding: 8rem 0;
}

.personalized__box img {
    width: 33%;
}

.personalized__box-content {
    text-align: left;
}

.frontpage__about {
    width: 70%;
}

.about__box {
    flex-direction: row;
}

.about__box-content {
    text-align: left;
}

.about__box-content a:hover {
    color: var(--green);
}

.frontpage__why-us {
    margin: 0;
    padding: 10rem 0 0 0;
}

.why-us {
    gap: 2%;
}

.why-us__item {
    flex: 0 1 23.5%;
    padding: 1rem 2rem 4rem 2rem;
}

.why-us__item img {
    height: 10rem;
    margin-bottom: 1rem;
}

/* FIN-FRONTAPGE */
/* FOOTER */
.footer__widgets {
    gap: 4%;
}

.footer__widgets>div {
    flex: 0 1 30%;
}

.copyright__box {
    justify-content: space-between;
}

.footer__widgets a:hover {
    color: var(--yellow);
}

/* FIN-FOOTER */
/* ITINERARIOS */
.itinerarios__box,
.pages__box {
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 4%;
}

.header-excerpt {
    width: 100%;
}

.itinerary--content {
    margin: 0 auto 5rem;
}

.itinerary--content>p,
.itinerary--content>h2,
.itinerary--content>h3,
.itinerary--content>h4,
.itinerary--content>ul {
    width: 100%;
    margin: auto;
}

.itinerarios__box .responsive-tabs-wrapper {
    box-shadow: 0px 12px 17px rgba(0, 0, 0, 0.16);
    background: var(--white);
    border-radius: .5rem;
}

.itinerary--content .responsive-tabs-wrapper:before,
.tourContent .responsive-tabs-wrapper:after {
    display: none;
}

.itinerary--content .responsive-tabs ul.responsive-tabs__list {
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.itinerary--content .responsive-tabs .responsive-tabs__list__item {
    flex: 1;
    font: 600 1.9rem var(--font-primary);
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    border: none;
    padding: 1.5rem 2rem;
    border-radius: 0;
    background: var(--blue);
    margin: 0;
}

.itinerary--content .responsive-tabs .responsive-tabs__list__item--active,
.itinerary--content .responsive-tabs .responsive-tabs__list__item--active:hover {
    background: var(--white);
    color: var(--dark);
    padding: 1.5rem 2rem;
    top: 0;
}

.itinerary--content .responsive-tabs .responsive-tabs__panel {
    border: none;
    padding: 2.5rem;
    border-radius: 0 0 0.5rem .5rem;
}

.itinerary--content .responsive-tabs .responsive-tabs__list__item:hover {
    background: var(--soft-blue);
    color: var(--white);
}

.itinerarios__box>article {
    flex-basis: 69%;
}

.general_sidebar {
    flex-basis: 27%;
    box-sizing: content-box;
}

.itinerarios__banner {
    margin-bottom: 5rem;
}

/* FIN-ITINERARIOS */
/* PAGINAS */
.pages__box .asidePagina {
    width: 370px;
    margin-top: 5rem;
}

.page--content .wp-block-contact-form-7-contact-form-selector {
    width: 80%;
}

.page--content form label {
    flex-basis: 48%;
}

.tours__category .besttours__card {
    flex-basis: 23%;
}

p.card-excerpt {
    font-size: 1.5rem;
    line-height: 2rem;
}
/* FIN-PAGINAS */
.header__menu nav#menu ul>li.lang-item {
    display: none;
}